.bake__price {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: column;
    grid-template-areas:
        "bake__1 bake__2 bake__3"
        "bake__4 bake__5 bake__6";
    
    border-bottom: 1px solid white;
}

.bake__2 {
    grid-area: bake__2;
}

.bake__3 {
    grid-area: bake__3;
}

.bake__4 {
    grid-area: bake__4;
}

.bake__5 {
    grid-area: bake__5;
}

.bake__6 {
    grid-area: bake__6;
}

.bake__1 {
    grid-area: bake__1;
}

.bake__price a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text);
    font-size: 25px;
    font-family: var(--font-roboto);
}

.bake__price p {
    text-transform: uppercase;
    font-size: 20px;
}

@media(max-width:992px) {
    .bake__price a {
        font-size: 20px;
    }
}

@media(max-width:768px) {
    .bake__price {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "bake__1 bake__2"
            "bake__3 bake__4"
            "bake__5 bake__6";
    }
}

@media(max-width:576px) {
    .bake__price {
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas:
            "bake__1"
            "bake__2"
            "bake__3"
            "bake__4"
            "bake__5"
            "bake__6";
    }

    .bake {
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
    }
}