.community {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
}

.community__title {
    font-size: 35px;
    text-transform: uppercase;
}

@media(max-width:768px) {
    .community {
        padding-top: 195px;
    }
}

@media(max-width:576px) {
    .community {
        padding-top: 185px;
    }

    .community__title {
        font-size: 25px;
    }
}