

:root {
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --accent: #0126DE;
    --gray: #F5EDE7;
}

.header__card {
    font-size: 32px;

}

.log_in {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.cart {
    display: flex;
    flex-direction: column;
}

header {
    height: 88px;
    background-color: var(--gray);
}

.header__menu ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 16px;
    padding-right: 10px;
}

.header__menu ul li a {
    text-decoration: none;
}

.header__card a {
    text-decoration: none;
    font-size: 18px;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo.header__menu {
    justify-content: flex-start;
}

.header__logo__menu {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.header__card {
    display: flex;
