.bakes__image {
    padding-top: 35px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bakes__image1,
.bakes__image2,
.bakes__image3,
.bakes__image4,
.bakes__image5 {
    padding: 15px;
}

.bakes__email {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 25px;
}

.tarlabakes.wrapper {
    background-color: #fff;
}

@media(max-width:992px) {
    .tarlabakes {
        display: none;
    }
}