.card__list
    display: flex
    flex-direction: row
    justify-content: center
    margin-top: 55px
    &-block
        width: 20%
        height: 250px
        padding: 10px
        display: flex
        justify-content: flex-end
        align-items: center
        flex-direction: column
        background-color: #E5E5E5
        margin-right: 15px
        cursor: pointer
        &:hover
            background-color: $white
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
            animation: card__list-block 0.4s ease
            animation-fill-mode: forwards
        &-text
            width: 70%
            color: $gray
            text-align: center
            font-family: $font-georama
            font-weight: 600
            font-size: 14px
        &-title
            padding-top: 15px
            padding-bottom: 15px
            font-family: $font-noto-serif
            font-size: 15px
            font-weight: 600
@keyframes card__list-block
    50%
        transform: scale(1.1)
    100%
        transform: scale(1)
@media screen and (max-width: 992px)
    .card__list
        width: 100%
        flex-direction: column
        align-items: center
        &-block
          width: 60%
          height: 260px
          margin-top: 15px  