.footer
    width: 100%
    &__info
        width: 30%
    &__links
        width: 20%
        & li
            list-style: none
            &:before
                content: '\2014\00a0\00a0'       
    &__support
        width: 20%
        & li
            list-style: none
            &:before
                content: '\2014\00a0\00a0'
    &__news
        width: 30%
