.picture_block 
    padding-top: 20px
.slider
    &__image
        position: relative
    &__info
        position: absolute
        bottom: 45%
        left: 10%
    &__title
        font-family: $font-noto-serif
        font-size: 55px
        font-weight: 900
        padding-bottom: 15px
.parametrs
    position: sticky
    margin-left: 450px
    margin-top: -50px
    background-color: #fff
    
