@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Play&family=Titillium+Web:wght@300&display=swap');

header {
  width: 100%;
  color: rgb(99, 12, 34);
}

.name {
  text-shadow: 01px 1px 2px black;
  padding-left: 25px;
}

body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-size: 18px;
  font-family: 'Play', sans-serif;
}







/* =========================ХЭДЕР=================================*/
.header a {
  color: brown;
}

.header a:hover {
  color: rgb(255, 0, 191);
  transform: scale;
}

.menu ul {
  display: flex;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9aaaa;
  padding: 10px;

}

.top a {
  text-decoration: none;
}


.info_tel {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.container1 {
  margin: 2px 0 0px 0px;
}

.info_tel a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}






/* =========================ПАНЕЛЬ НАВИГАЦИИ=================================*/
.menu ul li a {
  color: rgb(156, 40, 151);
  display: block;
  text-decoration: none;
  transition: 0.3s ease-in all;
}

.menu ul li a:hover {
  color: rgb(235, 132, 229);
  transform: scale(1.1);
}

.menu ul {
  display: flex;
  list-style: none;
}
















/* =========================САЙДБАР=================================*/


.sidebar {
  margin: 20px 0 0 20px;


}

.sidebar ul li {
  position: relative;
}




.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}


/* применяем inline-block позиционирование к элементам навигации */
.sidebar ul li {
  margin: 0px 0 0 0;
  display: block;


}

/* стилизуем ссылки */
.sidebar a {
  display: block;
  padding: 5px 5px;
  color: rgb(94, 37, 37);
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
}

/* изменяем цвет фона при наведении курсора */
.sidebar a:hover {
  background-color: #be71c5;
}

.sidebar ul ul {
  display: none;
  position: absolute;
  top: 100%;

}

/* отображаем выпадающий список при наведении */
.sidebar ul li:hover>ul {
  display: inherit;
  background-color: #fff;
  z-index: 10;
}

/* первый уровень выпадающего списка */
.sidebar ul ul li {
  min-width: 300px;
  min-height: 50px;
  float: none;
  display: list-item;
  position: relative;
}
















/* =========================MAIN-Ы=================================*/

.main {
  display: flex;
  width: 100%;
}

.main__left {
  display: block;
  width: 15%;
  padding: 15px;
  clear: right;
}

.main__right {

  width: 85%;
  padding-top: 15px;
  clear: right;

}

.main__right-title {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}





/* =========================БЛОКИ С ИНФОРМАЦИЕЙ СЛЕВА=================================*/

.info {
  font-size: 10px;
  margin: 30px;
  display: flex;
  padding: 15px;
  border: 1px solid black;
}

.info.active {
  display: flex;
  position: relative;
  background-color: rgb(212, 22, 22);
  color: #fff;
  margin-top: 70px;
}

.info__icon {
  width: 20%;
}

.info__text {
  width: 80%;
}

.info__text-title {
  font-size: 15px;
  font-weight: 150;
}

.info__text-description {
  font-weight: 150;
}





/* =========================СЛАЙДЕР=================================*/
.slider {
  border: 1px solid rgb(153, 37, 37);
  min-height: 200px;
  margin-right: 25px;
}




/* =========================КАРТОЧКИ ТОВАРОВ=================================*/

.card-list {
  display: flex;
  justify-content: space-between;
  padding: 15px;

}

.card {
  border: 2px solid rgb(70, 168, 24);
  padding: 15px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 25px;
}

.card__img {
  width: 160px;
  height: 160px;
  background-color: rgb(160, 56, 56);
  position: relative;
}

.card__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.199);
}

.card__title {
  font-size: 18px;
  line-height: 20px;
}

.card__prise {
  font-size: 16px;
  line-height: 18px;
}

.card__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card__btn div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__btn div:nth-child(1) {
  background-color: black;
  color: rgb(196, 88, 88);
}

.card__btn div:nth-child(2) {
  background-color: rgb(167, 82, 82);
}







/* =========================ПРОДУКТ=================================*/
.btn {
  border: 1 px solid black;
  background-color: rgba(189, 174, 91, 0.836);
  color: black;
  padding: 10px 10px;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
}

.btn-darc {
  background-color: black;
  color: #ffe;
}

.product_description-cartBtn .count {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.product_description-cartBtn .count input {
  max-width: 90px;

}

.product_description-btn {
  margin-top: 15px;
}

.product_info {
  display: flex;
}

.product_description {
  width: 40%;
  padding: 15px;
}

.product_description-title {
  font-size: 22px;
  line-height: 25px;
}

.product_description-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
}

.product_description-prise {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.product_description-sail {
  display: flex;
  font-display: column;
  margin-top: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.product_description-cards {
  display: flex;
  margin-top: 15px;
}

.product_description-cards div {
  border: 1px solid gray;
  border-radius: 4px 4px 4px 4px;
  margin-right: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}

.product_description-cards .visa {
  color: rgb(0, 4, 255);
  background-color: #FFCF18;

}

.product_description-cards .master {
  background-color: red;
  color: #FFCF18;
}

.product_description-cartBtn {
  margin-top: 15px;
  display: flex;
}

.product__description-cartBtn .count {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.product__description-btn {
  margin-top: 15px;
}

.product__description-cartBtn .count input {
  max-width: 90px;
}





/* =========================ПРОДУКТ СЛАЙДЕР=================================*/

.product_slider {
  width: 50%;

}

.product_slider-preview {
  border: 1px solid black;
  max-height: 316px;
  min-height: 200px;
}

.product_slider-list {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;

}

.slider-item {
  border: 1px solid black;
  width: 41px;
  height: 41px;
}

/*=======================ЗВЁЗДЫ================*/
.stars {
  overflow: hidden;
  width: 210px;
  margin: 0 0 5px;
}

.stars:not(:checked)>input {
  display: none;
}

.stars:not(:checked)>label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.stars:not(:checked)>label:before {
  content: '★';
}

.stars>input:checked~label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.stars:not(:checked)>label:hover,
.stars:not(:checked)>label:hover~label {
  color: gold;
}

.stars>input:checked+label:hover,
.stars>input:checked+label:hover~label,
.stars>input:checked~label:hover,
.stars>input:checked~label:hover~label,
.stars>label:hover~input:checked~label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.stars>label:active {
  position: relative;

}

.product_review {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-gap: 0px;
}

.product_review span {
  margin-top: 5px;
}

/* =========================ФУТЕР=================================*/
footer {
  display: block;
  position: absolute;
  left: 0;
  bottom: -800px;
  width: 100%;
  min-width: 300px;
  font-size: 16px;
  overflow: hidden;
  color: rgb(85, 25, 35);
}

footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6caca;
  padding: 0;

}

div.phone {
  background-color: rgb(201, 172, 172);
  display: block;
  text-align: center;
}

.menu ul li {
  margin-right: 25px;
}

.phone a {
  color: black;
  font-size: 13px;
}





/*============ТАБЛИЦА==================*/
.tabs {
  font-size: 0;
  max-width: 387px;
  float: inline-start;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #e0e0e0;
  padding: 15px 15px;
  font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #D8E6F3;
  border: 1px solid #e0e0e0;
  padding: 20px 18px;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: rgb(243, 243, 239);
  border-bottom: 1px solid #fff;
}









.hr li {
  list-style: none;
  font-size: 13px;
}

.hr {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  margin-left: 100px;
  margin-right: 100px;
}

.hr ul {
  padding: 0px 50px 0px 50px;
}

.hr span {
  color: gray
}








/* =========================КАРТА===============*/

.map iframe {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 600px;
  margin:40px auto;

}



/* =========================ФОРМА===============*/
.cover input {
  
  width:1000px; 
  height: 40px;
  margin-left:150px; 
  
}

#name{

}

h3.contact{
  
  border-bottom: 1px solid gray;
}


.cover{
  
  padding: 10px;
  
  float: left;
  
}

#submit{
  max-width: 200px;
  margin-top: 10px;
  float: right;
  margin-right: 200px;
}



/* =========================КНОПКА СОРТИРОВКИ===============*/



.sorting ul li {
  position: relative;
}




.sorting ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}


/* применяем inline-block позиционирование к элементам навигации */
.sorting ul li {
  margin: 0px 0 0 0;
  display: block;


}

/* стилизуем ссылки */
.sorting a {
  display: block;
  padding: 5px 5px;
  color: rgb(94, 37, 37);
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
}

/* изменяем цвет фона при наведении курсора */
.sorting a:hover {
  background-color: #be71c5;
}

.sorting ul ul {
  display: none;
  position: absolute;
  top: 100%;

}

/* отображаем выпадающий список при наведении */
.sorting ul li:hover>ul {
  display: inherit;
  background-color: #fff;
  z-index: 10;
}

/* первый уровень выпадающего списка */
.sorting ul ul li {
  max-width: 120px;
  min-width: 120px;
  min-height: 50px;
  float: none;
  display: list-item;
  position: relative;
}
.sorting {
  margin-right: 25px;
  display:flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;


}