@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Play&family=Titillium+Web:wght@300&display=swap');

header {
  width: 100%;
  color: rgb(99, 12, 34);
}

.name {
  text-shadow: 01px 1px 2px black;
}

body {
  font-size: 18px;
  font-family: 'Play', sans-serif;
}

.header a {
  color: brown;
}

.header a:hover {
  color: rgb(255, 0, 191);
  transform: scale;
}

.menu ul {
  display: flex;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9aaaa;
  padding: 10px;
}

.info a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.menu ul li a {
  color: rgb(156, 40, 151);
  display: block;
  text-decoration: none;
  transition: 0.3s ease-in all;
}

.menu ul li a:hover {
  color: rgb(235, 132, 229);
  transform: scale(1.1);
}

.menu ul {
  display: flex;
  list-style: none;
}

footer {
  font-size: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(85, 25, 35);
}

footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6caca;
  padding: 0;
}

div.phone {
  background-color: rgb(201, 172, 172);
  display: block;
  text-align: center;
}

.menu ul li {
  margin-right: 25px;
}

.phone a {
  color: black;
  font-size: 13px;
}

.sidebar {
  display: block;
  position: absolute;
  font-size: 13px;
  width: 200px;
  padding: 5px;
  margin-top: 5px;
  margin-left: -20px;
  box-sizing: border-box;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: rgb(67, 41, 107);
  display: block;
  text-decoration: none;
  transition: 0.3s ease-in all;
}

.sidebar li a:hover {
  color: #ffe;
  background: rgb(233, 141, 228);
}

.info {
  display: grid;
  /* Создает 3 столбца, каждая шириной 1 fr */
  grid-template-columns: 0.2fr 1fr 1fr;
  /* Добавляет 10px разрыв между столбцами и строками */
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.container1 {
  margin: 2px 0 0px 0px;
}





.main {
  display: flex;
}

.main_left {
  width: 30%;
}

.main_right {
  width: 30%;
}

.sidebar_list {
  list-style: none;
}

.sidebar_list li {
  padding: 5px 15px;
}

.info-text {
  width: 80%;

}

.info_text-title {
  font-size: 25px;
  font-weight: 700;
}

.info_text-description {
  font-weight: 400;
}

.info.active {
  background-color: black;
  color: #d6caca;
}

.info.icon {
  width: 20%;
}

.info {
  margin-top: 30px;
  display: flex;
  padding: 15px;
  border: 1px solid black;
}

.slider {
  
  border: 1px solid black;
  
  min-height: 200px;
}

.main_right-title {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.card1 {
  border: 1 px solid gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
align-items: center;
margin: 15px;
}
.card1:nth-child(odd){
  mar

}
.card_img {
  width: 161px;
  height: 160px;
  background-color: chartreuse;
}

.card_list {
  display: flex;
  justify-content:space-between;
}

.card_title {
  font-size: 10px;
  line-height: 18px;
}

.card_price {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_btn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_btn div:nth-child(1) {
  background-color: coral;
  color: cornsilk;
}

.card_btn div:last-child(2) {
  background-color: darkmagenta;

}
